.wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("../public/assets/wallpaper.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  overflow: hidden;
}
